* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
.container {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
}
section {
    flex: 1;
    padding: 70px 0;
}
.btn {
    font-style: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    background-color: #3882f6;
    cursor: pointer;
}

/* Header styles */
header,
footer {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px 0;
    flex: 0 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}
.header ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.header ul li {
    list-style: none;
}
li a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}
li a:hover {
    text-decoration: underline;
    color:#b2b4b8;
}

/* Hero section styles*/
.hero {
    background-color: #1f2937;
    color: #e5e7eb;
}
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.hero-message,
.img {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-message p {
    font-size: 18px;
}
.img {
    background-color: #6e6e70;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Info section styles */
.info .container {
    text-align: center;
}

.info-container {
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    gap: 20px;

}
.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

/* Quote styles */
.quote {
    background-color: #e5e7eb;
}
.quote .container {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.quote-body {
    padding: 0 20px;
    line-height: 1.3;
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}
.quote-author {
    margin-top: 0;
    font-size: 20px;
}

/* Call to action styles */
.call-block {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    padding: 50px 100px;
    gap: 30px;
}
.call-block p {
    margin: 0;
}
.call-block h2 {
    margin: 0;
    color: #f9faf8;
}
.btn-call {
    border: 2px solid #e5e7eb;
}
/* Footer styles */
footer {
    text-align: center;
}